body{
    margin: 0;
    padding: 0;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.logo::first-letter{
    font-size: 40px;
    color: brown;
}
.img{
    width: 50%;
    height: 50%;
}
.skill section{
    background-color: #9FE2BF;
}


.service-list :hover{
    background:#ff004f;
    
}
.rounded-circle:hover{
    background: blue;
    color: aqua;
    transition: 0.4s;
}
.contact{
    background-color:#66CDAA;
}